@page "/users/{UserId}"
@using EM.Core.Models
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using IdentityConstants = EM.Infrastructure.Data.IdentityConstants
@using AutoMapper
@using EM.Application.Abstract.Services
@using EM.Application.Models
@using Microsoft.AspNetCore.Mvc.Rendering
@using ValidationSummary = Microsoft.AspNetCore.Components.Forms.ValidationSummary
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> UserManager 
@inject IRoleService RoleService 
@attribute [Authorize(Roles = $"{IdentityConstants.ADMIN_ROLE_NAME}")]
@rendermode InteractiveServer

<AuthorizeView>
    <Authorized Context="authContext">
        <button class="btn btn-primary" type="button" @onclick="Back">Back</button>

        <PageTitle>Manager User @UserId</PageTitle>

        <h1>Manage User @User.User.Email</h1>

        @{
            if (!string.IsNullOrEmpty(StateMessage))
            {
                <div class="alert alert-success mt-3">
                    @StateMessage
                </div>
            }
        }
        <EditForm Model="@_userEditFormModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>

            <h3>Personal Details</h3>
            <div>
                <label for="username">Name:</label>
                <InputText id="username" @bind-Value="@_userEditFormModel.Username" class="form-control"/>
            </div>

            <div>
                <label for="email">Email:</label>
                <InputText id="email" @bind-Value="@_userEditFormModel.Email" type="email" class="form-control"/>
            </div>

            <div>
                <label for="firstname">First name:</label>
                <InputText id="firstname" @bind-Value="@_userEditFormModel.FirstName" type="text" class="form-control"/>
            </div>

            <div>
                <label for="lastname">Last name:</label>
                <InputText id="lastname" @bind-Value="@_userEditFormModel.LastName" type="text" class="form-control"/>
            </div>

            <div>
                <label for="city">City:</label>
                <InputText id="city" @bind-Value="@_userEditFormModel.City" type="text" class="form-control"/>
            </div>

            <div>
                <label for="team">Team Id:</label>
                <InputNumber id="team" @bind-Value="@_userEditFormModel.TeamId" type="number" class="form-control"/>
            </div>
            
            <div>
                <label for="birthdate">Birthdate:</label>
                <InputDate id="birthdate" @bind-Value="@_userEditFormModel.Birthday" class="form-control"/>
            </div>
            
            <h3>Roles</h3>
            @foreach(var item in list)
            {
                <div class="list-group-item d-flex justify-content-between align-items-center">
                    <span>@item.Text</span>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" @bind="item.Selected" @onclick="(()=>UpdateSingleRole(item))" />
                    </div>
                </div>
            }
            <button type="submit" class="btn btn-primary">Update</button>
        </EditForm>
    </Authorized>
</AuthorizeView>

@code {
    [Parameter]
    public string UserId { get; set; }

    [Inject]
    private IMapper Mapper { get; set; } // Inject AutoMapper

    MultiSelectList list;

    private string StateMessage = "";
    private ApplicationUserEditViewModel _userEditFormModel = new ApplicationUserEditViewModel();
    private ApplicationUserDto User;

    public class ApplicationUserDto
    {
        public ApplicationUser User { get; set; }
        public List<string> Roles { get; set; }
    }

    private void Back()
    {
        NavigationManager.NavigateTo("/users");
    }

    private async void HandleValidSubmit()
    {
        Mapper.Map(_userEditFormModel, User.User);

        await UserManager.UpdateAsync(User.User);
        await RoleService.UpdateUserRolesAsync(User.User, _userEditFormModel.SelectedRoles.ToList());
        StateMessage = "User updated Successfully.";
        StateHasChanged();
    }

    private void UpdateSingleRole(SelectListItem item)
    {
        if (!item.Selected)
        {
            _userEditFormModel.SelectedRoles.Add(item.Text);
        }
        else
        {
            _userEditFormModel.SelectedRoles.Remove(item.Text);
        }
    }
    
    protected override async Task OnInitializedAsync()
    {
        list = new MultiSelectList(IdentityConstants.AllRoles);
        var user = await UserManager.Users.FirstOrDefaultAsync(x => x.Id == UserId);
        var roles = await UserManager.GetRolesAsync(user);
        User = new ApplicationUserDto()
        {
            User = user,
            Roles = roles.ToList()
        };

        Mapper.Map(User.User, _userEditFormModel);
        _userEditFormModel.SelectedRoles = roles.ToHashSet();

        foreach (var item in list)
        {
            item.Selected = _userEditFormModel.SelectedRoles.Contains(item.Text);
        }
    }
}