@page "/Teams"
@using EM.Infrastructure.Data
@using EM.Application.Models

<AuthorizeView Roles="@IdentityConstants.TEAMS_VIEW_ROLE_NAME">
    <Authorized>
        <h3>Teams</h3>
        
    @if (_teams == null)
    {
        <p>
            <em>Loading...</em>
        </p>
    }
    else
    {
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Members Count</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>

            @foreach (var team in _teams)
            {
                <tr>
                    <td>@team.Id</td>
                    <td>@team.Name</td>
                    <td>@team.MembersCount</td>
                    <td>
                        <AuthorizeView Roles="@IdentityConstants.TEAMS_MANAGE_ROLE_NAME" Context="ManageTeamContext">
                            <a type="button" class="btn btn-primary" href="teams/@team.Id">Manage</a>
                        </AuthorizeView>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
        
    </Authorized>
</AuthorizeView>

@code {
    private TeamViewModel[]? _teams;

    [Inject] 
    private IHttpClientFactory httpClientFactory { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        var client = httpClientFactory.CreateClient();
        var e = await client.GetFromJsonAsync<List<TeamViewModel>>("http://localhost:5054/api/team");
        _teams = e?.ToArray();
    }
}